/* note for colors teal #02807f dk teal #015f61 gray #b2b2b2  */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "saira condensed", Arial, Helvetica, sans-serif;
  color: white;
}
body {
  background-color: #2c2c30;
}
.mainContainer {
  background-color: #2c2c30;
  width: 100%;
  position: relative;
}
.header {
  width: 100vw;
  padding-top: 110px;
  position: fixed;
  background-color: #2c2c30;
}
.logo {
  width: 250px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.navBar {
  background-color: #02807f;
  height: 40px;
  padding: 0 5px;
}
.navBar_menu {
  height: 100%;
}
.navBar_text {
  display: none;
}
.bodyContainer {
  padding: 175px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.noNameContainer {
  width: 100%;
  background-color: rgba(44, 44, 48, 0.9);
  background-image: url(./assets/background10.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.inspiration {
  padding: 10px 0;
  text-align: center;
}
.entryPhoto {
  max-width: 100%;
}
.entryPhoto > img {
  width: 100%;
}
.address {
  padding: 10px 0;
  max-width: fit-content;
}
.bookNow {
  width: 150px;
  height: 40px;
  padding: 5px;
  background-color: #02807f;
  font-weight: 600;
  font-size: x-large;
  border-radius: 50px;
  text-align: center;
  margin: 10px 0;
}
.hoursOfOperation {
  padding: 10px 0;
}
table {
  margin: 10px 0;
  width: 300px;
  text-align: center;
  border-collapse: collapse;
  line-height: 20px;
}
td:nth-child(even) {
  background-color: #616164;
}
.bioContainer {
  border-top: 1px solid #02807f;
  padding: 10px 0;
}
.bioPhoto {
  width: 100px;
}
.position {
  color: #02807f;
}
.socialMedia {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.socialMedia img {
  padding: 0 20px;
  width: 50px;
}
footer {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .navBar {
    padding-top: 5px;
    display: flex;
    font-size: 20px;
    align-items: baseline;
    justify-content: space-evenly;
  }
  .emptyDiv {
    width: 170px;
  }
  .navBar_text {
    display: inline-block;
  }
  .noNameContainer {
    display: flex;
    flex-wrap: wrap;
  }
  .entryPhoto {
    width: 500px;
  }
  .address {
    padding-left: 20px;
    padding-right: 10px;
  }
  .bio {
    display: flex;
    padding: 20px 0;
  }
  .bioPhoto {
    width: 100px;
    height: 100px;
    padding-right: 20px;
  }
}
